*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.img {
    position: absolute;
    left: 22px;
    top: 200px;
}

.img2 {
    position: absolute;
    right: 30px;
    top: 360px;
}



.h1 {
    display: block;
    font-size: 3em;
    margin-top: 0.5em;
    margin-bottom: 0.8em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.footer2 {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #dc3545;
    color: rgb(255, 255, 255);
    text-align: center;
}


.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #dc3545;
    color: rgb(255, 255, 255);
    text-align: center;
  }
  
.game{
    position: relative;
    width: 1000px;
    height: 500px;
    border: 10px solid rgb(255, 255, 255);
    margin: auto;
    background-image: url(../img/4I8s.gif);
    background-size: cover;
}

.button {
    margin-top: 3%;
    margin-left: 31%;
    padding: 60px 250px;
    font-size: 50px;
    cursor: pointer;
    text-align: center;
    color: white;
    background-color: GREY;
    border: none;
    border-radius: 15px;
  }

  .button:hover {background-color: red}



#kocka{
    width: 75px;
    height: 75px;
    background-image: url(../img/kocka.png);
    background-size: cover;
    position:relative;
    top: 407px;
    left: 20px;
}

#sutr{
    background-image: url(../img/sutr.png);
    background-size: cover;
    width: 100px;
    height: 100px;
    position: relative;
    top: 320px;
    left: 900px;
    animation: sutr 0.7s infinite linear;
}

#score{
    text-align: center;
    color: white;
}

@keyframes sutr {
    0%{left: 900px;}
    100%{left: 1px;}
  }
  
  .jump-animation {
    animation: jump 0.4s;
  }
  
  @keyframes jump {
    0%{top: 225px;}
    25%{top: 75px;}
    50%{top: 75px;}
    75%{top: 75px;}
    100%{top: 225px;}

p{
    text-align: center;
}